.food-item {
  border: 2px solid brown;
  border-radius: 15px;
  padding: 0 10px;
}

.food-item-header {
  display: flex;
  justify-content: space-between;
}

.food-item-footer {
  display: flex;
  justify-content: space-between;
  color: lightcoral;
}
